# ─── Django ────────────────────────────────────
SECRET_KEY=buat_secret_key_yang_panjang_dan_acak
DEBUG=True

# ─── PostgreSQL ────────────────────────────────
DB_NAME=lms_db
DB_USER=lms_user
DB_PASSWORD=lms_password
DB_HOST=db
DB_PORT=5432

# ─── Redis ─────────────────────────────────────
REDIS_URL=redis://redis:6379/0
RATE_LIMIT_REQUESTS=60
RATE_LIMIT_WINDOW=60

# ─── MongoDB ───────────────────────────────────
MONGODB_URI=mongodb://mongodb:27017/
MONGODB_DB=simple_lms_logs

# ─── RabbitMQ ──────────────────────────────────
RABBITMQ_USER=lms_user
RABBITMQ_PASS=lms_password
RABBITMQ_URL=amqp://lms_user:lms_password@rabbitmq:5672/

# ─── Email ─────────────────────────────────────
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=your_email@gmail.com
EMAIL_HOST_PASSWORD=your_app_password
DEFAULT_FROM_EMAIL=noreply@simplelms.dev